<%= form_for(job_type) do |f| %>
  <% if job_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_type.errors.count, "error") %> prohibited this job_type from being saved:</h2>

      <ul>
      <% job_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task %>
    <%= f.text_field :task %>
  </div>

  <div class="field">
    <%= f.label :template %>
    <%= f.text_field :template %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
