<p id="notice"><%= notice %></p>

<p>
  <strong>Recurence:</strong>
  <%= @task.recurence %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @task.precision %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @task.job_type %>
</p>

<p>
  <strong>Command:</strong>
  <%= @task.command %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
